@using Orchard.ContentManagement;
@using PJS.Bootstrap.Models;
@using System.Globalization;

@{
    var settings = WorkContext.CurrentSite.As<BootstrapThemeSettingsPart>();
    var cultureInfo = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);

    Display.Resources();
}

<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage()">

<head>
    <meta charset="utf-8" />
    <meta name="url" content="@WorkContext.HttpContext.Request.Url.PathAndQuery">
    <meta name="msvalidate.01" content="CA6A83218C1ED72C9E6EF7298BA5549D" />
    @if (WorkContext.HttpContext.Request.Url.PathAndQuery.StartsWith("/Users"))
    {
        <meta name="robots" content="noindex" />
    }
    else
    {
        <meta name="robots" content="index, follow, archive" />
    }
    <title>@Html.Title(title, siteName)</title>
    @Display(Model.Head)
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content(WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Path + "/Content/" + "/manifest.json")">


    <link href="https://bootswatch.com/4/spacelab/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@
    @*<link rel="stylesheet" href="index_files/pjs.custom.css">
    <link rel="stylesheet" href="index_files/footer.css">*@

    <script type="text/javascript">
         (function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);
    </script>
</head>

<body class="theme-@WorkContext.CurrentTheme.Id">
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>