@using Orchard.ContentManagement;
@using PJS.Bootstrap.Models;
@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    Display.Insertions();

    var settings = WorkContext.CurrentSite.As<BootstrapThemeSettingsPart>();

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
@if (Model.Header != null)
{
    <header id="layout-header" class="group">
        <div id="header">
            @Zone(Model.Header)
        </div>
    </header>
}
@if (Model.Navigation != null)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary bs4header">
        <div class="container">
            @Display.Branding()
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                @Zone(Model.Navigation)
                @*<ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">about me</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    @if (settings.UseNavSearch)
                    {
                        @Display.NavSearch()
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">sign in...</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>*@
            </div>
        </div>
    </nav>
}
@if (Model.Featured != null)
{
    <div id="layout-featured" class="group">
        @Zone(Model.Featured)
    </div>
}
@if (Model.BeforeMain != null)
{
    <div id="layout-before-main" class="group">
        @Zone(Model.BeforeMain)
    </div>
}
<div id="layout-main-container" class="container">
    <div id="layout-main" class="group">
        @if (Model.AsideFirst != null)
        {
            <aside id="aside-first" class="aside-first group">
                @Zone(Model.AsideFirst)
            </aside>
        }
        <div id="layout-content" class="group">
            @if (Model.Messages != null)
            {
                <div id="messages">
                    @Zone(Model.Messages)
                </div>
            }
            @if (Model.BeforeContent != null)
            {
                <div id="before-content">
                    @Zone(Model.BeforeContent)
                </div>
            }
            @* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
            @if (Model.Content != null)
            {
                <div id="content" class="group">
                    @Zone(Model.Content)
                </div>
            }
            @if (Model.AfterContent != null)
            {
                <div id="after-content">
                    @Zone(Model.AfterContent)
                </div>
            }
        </div>
        @if (Model.AsideSecond != null)
        {
            <aside id="aside-second" class="aside-second">
                @Zone(Model.AsideSecond)
            </aside>
        }
    </div>
</div>
@if (Model.AfterMain != null)
{
    <div id="layout-after-main" class="group">
        @Zone(Model.AfterMain)
    </div>
}
@if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null)
{
    <div id="layout-tripel-container" class="container">
        <div id="layout-tripel" class="group">
            @* as in beer *@
            @if (Model.TripelFirst != null)
            {
                <div id="tripel-first">
                    @Zone(Model.TripelFirst)
                </div>
            }
            @if (Model.TripelSecond != null)
            {
                <div id="tripel-second">
                    @Zone(Model.TripelSecond)
                </div>
            }
            @if (Model.TripelThird != null)
            {
                <div id="tripel-third">
                    @Zone(Model.TripelThird)
                </div>
            }
        </div>
    </div>
}
@tag.EndElement
<div class="clearfix"></div>
@if (Model.Footer != null || Model.FooterQuadFirst != null || Model.FooterQuadSecond != null || Model.FooterQuadThird != null || Model.FooterQuadFourth != null)
{
    @*<div id="layout-footer" class="group">
            <hr />
            <footer id="footer">
                @if (Model.FooterQuadFirst != null || Model.FooterQuadSecond != null || Model.FooterQuadThird != null || Model.FooterQuadFourth != null) {
                    <div id="footer-quad" class="group">
                        @if (Model.FooterQuadFirst != null) {
                            <div id="footer-quad-first">
                                @Zone(Model.FooterQuadFirst)
                            </div>
                        }
                        @if (Model.FooterQuadSecond != null) {
                            <div id="footer-quad-second">
                                @Zone(Model.FooterQuadSecond)
                            </div>
                        }
                        @if (Model.FooterQuadThird != null) {
                            <div id="footer-quad-third">
                                @Zone(Model.FooterQuadThird)
                            </div>
                        }
                        @if (Model.FooterQuadFourth != null) {
                            <div id="footer-quad-fourth">
                                @Zone(Model.FooterQuadFourth)
                            </div>
                        }
                    </div>
                }
                @if (Model.Footer != null) {
                    <div id="footer-sig" class="group">
                        @Zone(Model.Footer)
                    </div>
                }
            </footer>
        </div>*@
@*<div id="layout-footer" class="group">*@
    <footer class="bg-primary" id="footer">
        <!-- https://www.markuptag.com/bootstrap-4-footer-example-code/ -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h3>About Me</h3>
                    <p>You can read more <a href="/about">here</a>, but the short version is:</p>
                    <ul>
                        <li>Unashamed geek</li>
                        <li>Avid home cook</li>
                        <li>Doting Cat dad</li>
                        <li>(very) Amateur runner</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                     @*<h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Link First</a></li>
                        <li><a href="#">Link Second</a></li>
                        <li><a href="#">Link Third</a></li>
                        <li><a href="#">Link Fourth</a></li>
                        <li><a href="#">Link Fifth</a></li>
                    </ul>*@ 
                </div>
                <div class="col-md-3 col-sm-6">
                     @*<h3>Our Services</h3>
                    <ul>
                        <li><a href="#">Link First</a></li>
                        <li><a href="#">Link Second</a></li>
                        <li><a href="#">Link Third</a></li>
                        <li><a href="#">Link Fourth</a></li>
                        <li><a href="#">Link Fifth</a></li>
                    </ul>*@ 
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>Social Stuff</h3>
                    <div class="follow-us">
                        <ul>
                            <li><a href="https://twitter.com/robertwrayuk"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="https://www.instagram.com/robertwrayuk"><i class="fab fa-instagram"></i> Instagram</a></li>
                            <li><a href="https://www.linkedin.com/in/robertwray/"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                            <li><a href="https://github.com/robertwray/"><i class="fab fa-github"></i> Github</a></li>
                            <li><a href="https://stackoverflow.com/users/7872/rob"><i class="fab fa-stack-overflow"></i> Stackoverflow</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-txt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">&copy; Robert Wray, 2000-2025 (v2025.02.16.2)</p>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Footer != null) {
            <div id="footer-sig" class="group" style="display: none;">
                @Zone(Model.Footer)
            </div>
        }
    </footer>
@*</div>*@
}
<div id="toTop">
    <h1><i class="fa fa-chevron-up"></i></h1>
</div>
